<% layout('layouts/boilerplate') %>

<div id="campground-container">
        <div class="row mt-5 mb-2">
                <% if(search){ %>
                <div class="col-md-8">
                    <h1>Your search for: "<%= search %>" returned <%= campgrounds.length %> results...</h1>
                </div>
                <div class="col-md-4">
                    <form class="d-flex" action="/campgrounds/search" method="get">
                        <input class="form-control me-2" type="search" name="search" id="search-all" placeholder="Search Campgrounds...">
                        <button class="btn btn-outline-dark" type="submit">Search</button>
                    </form>
                </div>
                <% }else{ %> 
                <div class="col-md-4 mx-auto">
                    <div class="card text-center shadow" style="width: 30rem;">
                        <div class="card-body">
                            <h1 class="card-title m-3" >Search for a Location...</h1>
                            <div class="mx-3 mt-4 mb-3">
                                <form class="d-flex" action="/campgrounds/search" method="get">
                                    <input class="form-control me-2" type="search" name="search" id="search-all" placeholder="Search Campgrounds...">
                                    <button class="btn btn-outline-dark" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% }; %>
        </div>
            <% for(let campground of campgrounds) {  %> 
                <div class="card mb-3" style="width: auto">
                    <div class="row mx-0">
                        <div class="col-md-4 p-0" id="imgbgindex">
                            <%if(campground.images.length){ %> 
                            <img src="<%= campground.images[0].url %>" class="img-fluid d-block" id="imgRestrictIndex" alt="">    
                            <% }else{ %>
                            <img src="https://res.cloudinary.com/dx9uqtyks/image/upload/c_scale,h_375/v1623194082/YelpCamp/noimage_gsxtmk.jpg" id="imgRestrictIndex" class="img-fluid d-block" alt="">
                            <% }; %>  
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%=campground.title%></h5>
                                <p class="card-text"><%=campground.description%></p>
                                <p class="card-text">
                                    <small class="text-muted"><%=campground.location%></small>
                                </p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Campsite</a>
                            </div>
                        </div>    
                    </div>
                </div>
                <% } %>
            </div>